@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100vw;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#routes_link{
  display: none;
}
.login, .create{
  form{
    max-width: 300px;
    margin: 0px auto;
    padding: 10px 8px;
    border: 1px solid #f9f9f9;
    box-shadow: 0px 0px 12px 0px #e8e8e8;
    .buttons{
      text-align: center;
    }
  }
}
.mh100{
  min-height: 100vh;
}
.loading{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errors-be-list{
  text-align: left;
  padding-left: 5px;
}
.row-panel{
  width: 100%;
  visibility: collapse;
  height: 0px;
  background-color: #f3f3f3;
  transition: all 0.2s ease-in-out;
  &.visible{
    visibility: visible;
    height: auto;
  }
}
.full-width{
  width: 100%;
}
.table-container{
  position: relative;
  width: 100%;
  overflow-x: scroll;
}
.dashboard-container{
  width: 100%;
  padding: 10px 15px;
  margin: 0px auto;
  @media ( min-width: 1200px ) {
    max-width: 1200px;
  }
}
.element-detail{
  overflow: hidden;
  &.no-height{
    height: 0;
    min-height: 0;
  }
}